<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit set</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body tabindex="-1">
    <%- include('partials/navbar', {page: ""}) %>

    <div class="container mx-auto p-4">

      <div class="hero bg-base-200 rounded-lg p-6">
          <div class="hero-content text-center ">
              <div class="max-w-md">
                  <h1 class="text-5xl font-bold">Edit Set - <%= set.name %></h1>
              </div>
          </div>
      </div>

      <form action="/lego/editSet" method="POST" class="space-y-4">
          <div class="flex flex-col">
              <label for="name" class="text-lg font-semibold mb-2">name:</label>
              <input type="text" id="name_" name="name" required value="<%= set.name %>" class="input border border-black w-1/2" />
          </div>

          <div class="flex flex-col">
              <label for="year" class="text-lg font-semibold mb-2">year:</label>
              <input type="number" id="yr_" name="year" required value="<%= set.year %>" class="input border border-black w-1/2" />
          </div>

          <div class="flex flex-col">
              <label for="num_parts" class="text-lg font-semibold mb-2">mum of parts:</label>
              <input type="number" id="numParts_" name="num_parts" required value="<%= set.num_parts %>" class="input border border-black w-1/2" />
          </div>

          <div class="flex flex-col">
              <label for="img_url" class="text-lg font-semibold mb-2">image URL:</label>
              <input type="url" id="imgUrl_" name="img_url" required value="<%= set.img_url %>" class="input border border-black w-1/2" />
          </div>

          <div class="flex flex-col">
              <label for="theme_id" class="text-lg font-semibold mb-2">Theme:</label>
              <select id="themeId_" name="theme_id" required class="select border border-black w-1/2">
                  <% themes.forEach(theme => { %>
                      <option <%= (set.theme_id == theme.id) ? "selected" : "" %> value="<%= theme.id %>"><%= theme.name %></option>
                  <% }) %>
              </select>
          </div>

          <div class="flex flex-col">
              <label for="set_num" class="text-lg font-semibold mb-2">set num:</label>
              <input type="text" id="setNum_" name="set_num" readonly value="<%= set.set_num %>" class="input border border-black w-1/2 cursor-not-allowed" />
          </div>

          <button type="submit" class="btn btn-primary">update set</button>
          
      </form>
<!--DELETE SET LINK~~~~~~-->
<a href="/lego/deleteSet/<%= set.set_num %>" class="btn btn-error">delete</a>

  </div>
  <br /></body>

</html>